#GLOBAIS
TIME_ZONE=America/Sao_Paulo
PROTHEUS_PATH=C:/protheus
RELEASE=2410

#BANCO DE DADOS
DB_TYPE=MSSQL
DB_HOST=protheus_mssql
DB_PORT=1433
DB_USER=sa
DB_PASS=protheus123@
DB_NAME=PROTHEUS

#DBACCESS
DBACCESS_SERVER=protheus_dbaccess
DBACCESS_ALIAS=PROTHEUS
DBACCESS_PORT=7890

#APPSERVER
PROTHEUS_INI_MAIN=./ini/main
PROTHEUS_INI_REST=./ini/rest
PROTHEUS_INI_WS=./ini/ws
PROTHEUS_INI_WORKFLOW=./ini/workflow

#LICENSE
LICENSE_INI=./ini/license
LICENSE_SERVER=protheus_license

#SMARTVIEW
SMARTVIEW_PORT=7019
SMARTVIEW_PORT_ADMIN=7017